<h1>All Quarters
{{#if (can "add quarter")}}{{#link-to 'addQuarter' session.organisation class="btn btn-default btnAction pull-right"}}<span class="glyphicon glyphicon-plus"> </span> Add Quarter{{/link-to}}{{/if}}
{{#if (can "add keyResult")}}{{#link-to "addKeyResult" session.organisation 0 0 (query-params referrer="quarters") class="btn btn-default btnAction pull-right"}}<span class="glyphicon glyphicon-plus"></span> Add Key Result{{/link-to}}{{/if}}
</h1>
<div class="spacer"></div>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Year</th>
      <th>Quarter</th>
      <th>OKRs</th>
    </tr>
  </thead>
  <tbody>
    {{#each quarter in arrangedContent}}
    <tr>
      <td>{{quarter.year}}</td>
      <td>{{quarter.quarter}}</td>
      <td>{{#link-to 'keyResults' session.organisation quarter.id}}{{quarter.keyResults.length}} OKRs{{/link-to}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>
{{outlet}}
